<html>
    <body>
            <label for="peoplenumber">Number of People</label>
            <input id='peoplenumber' name="peoplenumber" type="number" min=0 default="{{num_people}}">
        <form method="post">
        {% for i in range(num_people) %}
        <input type="text" id="person{{i}}" name="person{{i}}" default="person{{i+1}}">
        <br>
        {%endfor%}
        {% if num_people>0%}
        <button type="submit">submit</button>
        {%endif%}
        </form>
        {{names}}
    </body>
</html>