<html>
    <body>
        <form method="post">
            <label for="peoplenumber">Number of People</label>
            <input id='peoplenumber' name="peoplenumber" type="number" min=0 default="{{num_people}}">
        {% if num_people != 0%}
        <input type="number" id="hid" style="display: none">
        {%endif%}
        {% for i in range(num_people) %}
        <label for="person{{i}}" Person {{i+1}} : </label>
        <input type="text" id="person{{i}}" name="person{{i}}">
        <br>
        {%endfor%}
        <button type="submit">submit</button>
        </form>
        {{names}}
    </body>
</html>